# Folders #
###########
bin/
deps/
objs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Packages #
############
*.7z
*.gz
*.zip
*.iso
*.rar
*.tar

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.bin
*.app
